@use "./assets/scss/global.scss";

.App{
    .search_bar{
        display: flex;
        margin: 40px auto 40px;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px;
        flex-wrap: wrap;

        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        input{
            background-color: global.$secondary_color;
            border-radius: 6px;
            border: none;
            color: #fff;
            font-size: 1rem;
            padding: 8px 16px;
            width: 400px;

            &::placeholder { 
                color: global.$pale_gray;
                opacity: 1; 
            }

            &:focus{
                outline: 0;
            }

        }

        button{
            background-color: darken(global.$secondary_color, 10%);
            border-radius: 6px;
            border: none;
            color: global.$white;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            margin-inline: 5px;
            padding: 8px 16px;

            &:hover{
                background-color: darken(global.$secondary_color, 20%);
            }

            svg {
                color : "red";
            }
            span{
                display: inline-block;
                height: 20px;
                width: 20px;
                background: url("./assets/images/user_plus_solid.svg") no-repeat ;
                color: #fff;

                &:svg{
                    color: #fff;
                }
            }
        }
    }

    .users_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        width: 100%;
    }
}

.modal{
    background-color: rgba($color: #000000, $alpha: .5);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .modal_content{
        -moz-box-shadow: 1px -1px 199px 55px rgba(255,255,255,1);
        -webkit-box-shadow: 1px -1px 199px 55px rgba(255,255,255,1);
        background-color: global.$primary_color;
        border-radius: 6px;
        max-width: 450px;
        width: 100%;
        box-shadow: 1px -1px 199px 55px rgba(255,255,255,1);
        left: 50%;
        padding: 20px 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        .user_info{
            flex-grow: 1;
            
            p{
                color: global.$pale_gray;
            }
        }
        .settings{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}